.button {
  @apply inline-flex items-center justify-center w-full px-4 py-2 bg-blue-500 text-white font-bold rounded-md hover:bg-blue-600 transition duration-300;
}
.textButton {
  color: black;
  font-weight: 100;
  justify-content: flex-end;
}
.button:hover {
  transition: all 0.5s ease;
  color: #f15bb5;
}
.button:last-child {
  margin-right: 0;
}

.footerP {
  padding-left: 14px;
  padding-right: 14px;
  font-size: 0.8rem;
}

@media (min-width: 800px) {
  .footer {
    bottom: -64px;
  }

  .nav {
    display: flex;
    flex-direction: row;
    margin-bottom: 0;
  }

  button {
    max-width: 250px;
    padding: 10px 14px;
    width: min-content;
  }
}
