@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Quicksand", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(
    0deg,
    rgba(255, 207, 210, 1) 0%,
    rgba(255, 207, 210, 1) 35%,
    rgba(255, 229, 236, 1) 100%
  );
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Satisfy", cursive;
  font-weight: normal;
}
